/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-calendar {
    user-select: none;
    border-radius: 1rem !important;
    height: 100% !important;
}

.el-empty {
    padding:0 !important;
}

.mytitle {
    font-size: 2.2rem;
    color: rgb(0, 0, 0);
    letter-spacing: 1rem;
    text-shadow: 5px 5px 5px gray;
  }

.space {
    margin: 5rem 5rem 5rem 5rem;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

.qrcode {
    display: inline-block;
    width: 113px;
    height: 113px;
    background-color: #fff;
    padding: 6px;
    box-sizing: border-box;
  }
